{% extends 'base.html' %}

{% block content %}
<h1>Transactions</h1>
<table class="table table-dark table-striped">
  <tr>
    <th>Transaction number</th>
    <th>Account number</th>
    <th>Performed by</th>
    <th>Customer request ssn</th>
    <th>Loan payment</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <th>{{ transaction.transaction_number }}</th>
    <th>{{ transaction.account_number }}</th>
    <th>{{ transaction.performed_by_ssn }}</th>
    <th>{{ transaction.customer_request_ssn }}</th>
    <th>{{ transaction.loan_payment }}</th>
    <th>{{ transaction.amount }}</th>
    <th>{{ transaction.date }}</th>
    <th>{{ transaction.time }}</th>
  </tr>
  {% endfor %}
</table>
{% endblock %}