{% extends 'base.html' %}

{% block title %} Customer Info {% endblock %}

{%block content%}
<h1> Customer Information </h1>
<br>

<h3>Demographic Information </h3>
<table class="table table-dark table-striped">
    <tr>
        <th>ssn</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>birthday</th>
        <th>street</th>
        <th>city</th>
        <th>province</th>
        <th>postal code</th>
        <th>employment status</th>
        <th>credit score</th>
    </tr>
    <tr>
        <th> {{ customer.ssn }}</th>
        <th> {{ customer.f_name }}</th>
        <th> {{ customer.l_name }}</th>
        <th> {{ customer.birthday }}</th>
        <th> {{ customer.street }}</th>
        <th> {{ customer.city }}</th>
        <th> {{ customer.province }}</th>
        <th> {{ customer.postal_code }}</th>
        <th> {{ customer.employment_status }}</th>
        <th> {{ customer.credit_score }}</th>
    </tr>
</table>

{% if user.is_teller %}
<h3> Transaction History </h3>
<table class="table table-dark table-striped">
    <tr>
        <th>transaction no.</th>
        <th>Amount</th>
        <th> Date/Time </th>
        <th> Account </th>
        <th>Teller</th>
        <th>Customer</th>
        <th>Loan</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
        <th> {{ transaction.transaction_num }}</th>
        <th> {{ transaction.amount }}</th>
        <th> {{ transaction.date_time }}</th>
        <th> {{ transaction.account }}</th>
        <th> {{ transaction.teller }}</th>
        <th> {{ transaction.customer }}</th>
        <th> {{ transaction.loan }}</th>
    </tr>
    {% endfor %}
</table>
<br>

{% elif user.is_advisor %}
<h3> Loans </h3>
<table class="table table-dark table-striped">
    <tr>
        <th>Loan no.</th>
        <th>Term</th>
        <th> Amount </th>
        <th> Interest Rate </th>
        <th>Type</th>
        <th>Remaining</th>
        <th>Advisor</th>
        <th>Customer</th>
        <th> Approved </th>
        <th> Actions </th>
    </tr>
    {% for loan in loans %}
    <tr>
        <th> {{ loan.loan_num }}</th>
        <th> {{ loan.term }}</th>
        <th> {{ loan.amount }}</th>
        <th> {{ loan.interest_rate }}</th>
        <th> {{ loan.type }}</th>
        <th> {{ loan.remaining }}</th>
        <th> {{ loan.advisor }}</th>
        <th> {{ loan.customer }}</th>
        <th> {{ loan.approved }}</th>
        <th>
            <a class="btn btn-warning" href="{% url 'loan:view_modify_loan' loanNo=loan.loan_num %}"> Edit </a>
            <a class="btn btn-danger" href="{% url 'loan:delete_loan' loanNo=loan.loan_num %}"> Delete </a>
            <a class="btn btn-primary" href="{% url 'loan:view_loan_transactions' loanNo=loan.loan_num %}"> View
                Transactions </a>
        </th>
    </tr>
    {% endfor %}
</table>
<br>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-dark" href="{% url 'loan:create_loan' cid=customer.ssn %}">Create a loan </a>
    </li>
</ul>
<br>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-dark" href="{% url 'account:create_savings' cid=customer.ssn %}">Create Savings Account </a>
    </li>
</ul>
<br>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="btn btn-dark" href="{% url 'account:create_chequing' cid=customer.ssn %}">Create Chequing Account </a>
    </li>
</ul>
<br>

{% endif %}

<h3> Chequing Accounts </h3>

<table class="table table-dark table-striped">
    <tr>
        <th>account no.</th>
        <th>balance</th>
        <th> monthly_fee </th>
        <th></th>
    </tr>
    {% for account in chequing %}
    <tr>
        <th> {{ account.account_num }}</th>
        <th> {{ account.balance }}</th>
        <th> {{ account.monthly_fee }}</th>
        <th>
            <a class="btn btn-primary"
                href="{% url 'transaction:perform' cid=customer.ssn account_id=account.account_num %}"> Pay Loan </a>
            &nbsp;
            <a class="btn btn-primary"
                href="{% url 'transaction:update_account_balance' cid=customer.ssn account_id=account.account_num %}">
                Update Balance </a>
        </th>
    </tr>
    {% endfor %}

</table>

<h3> Savings Accounts </h3>

<table class="table table-dark table-striped">
    <tr>
        <th>account no.</th>
        <th>balance</th>
        <th> interest_Rate </th>
        <th></th>
    </tr>
    {% for account in saving %}
    <tr>
        <th> {{ account.account_num }}</th>
        <th> {{ account.balance }}</th>
        <th> {{ account.interest_rate }}</th>
        <th>

            <a class="btn btn-primary"
                href="{% url 'transaction:perform' cid=customer.ssn account_id=account.account_num %}"> Pay Loan </a>
            &nbsp;
            <a class="btn btn-primary"
                href="{% url 'transaction:update_account_balance' cid=customer.ssn account_id=account.account_num %}">
                Update Balance </a>
        </th>
    </tr>
    {% endfor %}

</table>

{% endblock %}