{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{%block content%}
<h1> Select Account to Open </h1>
<div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_superuser %}
        <li class="nav-item">
            <a class="btn btn-secondary" href="{% url 'employee:create_manager' %}">Create Manager</a>
        </li>
        <br>
        <li class="nav-item">
            <a class="btn btn-dark" href="{% url 'department:create_department' %}">Create Department</a>
        </li>
        <br>
        {% endif %}
        {% if user.is_manager %}
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'employee:manage_employees' %}">Manage Employees</a>
        </li>
        <br>
        <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'employee:create_advisor' %}">Create Advisor</a>
        </li>
        <br>
        <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'employee:create_teller' %}">Create Teller</a>
        </li>
        <br>
        {% endif %}
        {% if user.is_advisor %}
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'loan:create_loan' %}">Create a loan </a>
        </li>
        {% endif %}
        <br>
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'customer:create_customer' %}">Create a customer </a>
        </li>
        <br>
        {% if user.is_teller %}
        <li class="nav-item">
            <a class="btn btn-info" href="{% url 'transaction:perform' %}">Create Transaction </a>
        </li>
        {% endif %}
        <br>
    </ul>
</div>
{% endblock %}