{% extends 'base.html' %}

{% block content %}
<h1>Transactions on Loan </h1>
    <br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Transaction number</th>
            <th>Account number</th>
            <th>Performed by</th>
            <th>Customer request ssn</th>
            <th>Loan payment</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.transaction_num }}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.teller}}</td>
            <td>{{ transaction.customer }}</td>
            <td>{{ transaction.loan_payment }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}