{% extends 'base.html' %}

{% block content %}
<h1>Transactions on Loan </h1>
    <br>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Transaction Number</th>
            <th>Account</th>
            <th>Performed by</th>
            <th>Customer</th>
            <th>Loan</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.transaction_num }}</td>
            <td>{{ transaction.account }}</td>
            <td>{{ transaction.teller }}</td>
            <td>{{ transaction.customer }}</td>
            <td>{{ transaction.loan }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.date_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}